@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    color: black;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.container {
    background-image: linear-gradient(to right, #e8dbfc, #f8f9d2);
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
}





.box1 {
    padding: 10px;
    border: #4b35ab solid;
    height: 150px;
    width: 150px;

    background-color: #4b35ab;
    transition: all 0.9s ease-in 0.5s;
}

.box1:hover {
    width: 300px;
    height: 300px;
}

.se-box {
    background-image: linear-gradient(to right, #e8dbfc, #f8f9d2);
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
}

.butto {
    background-color: #b5136e;
    padding: 10px;
    border: #27ae60 solid;
    height: 30px;
    width: 200px;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.butto:hover {
    background-color: #e65a56;
    border-color: #c0392b;
}

.te-box {
    background-image: linear-gradient(to right, #e8dbfc, #f8f9d2);
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
}

.box3 {
    padding: 10px;
    border: #e74c3c solid;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    color: white;
    background-color: #e74c3c;
    text-align: center;
    transition: all 0.9s ease-in 0.5s;
}

.box3:hover {
    border-radius: 50px;
    background-color: #e74c3c;
}